[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci
innodb_dedicated_server = ON
transaction_isolation = READ-COMMITTED
skip-name-resolve = ON
log_bin = binlog
binlog_format = ROW
binlog_expire_logs_seconds = 604800
gtid_mode = ON
enforce_gtid_consistency = ON

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
